* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#header {
  height: 110px;
  background: green;
  color: white;
}

#project-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: red;
  border: 1px solid black;
  color: white;
  height: 150px;
}

.project-body {
  display: flex;
  flex-direction: column;
}

.project-body p, .built-box {
  padding: 10px 0;
  border: 1px solid black;
}
